body {
            font-family: Georgia, serif;
            line-height: 1.8;
            margin-left: 60px;
            margin-right: 60px;
            padding: 0;
            background-color: #fff2e6;
            color: #333;
        }

        header {
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 2px solid #ddd;
        }

        h1 {
            font-size: 26px;
            color: #222;
        }

        h2 {
            font-size: 22px;
            color: #666;
        }

        nav {
            text-align: center;
            font-size: 22px
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin: 0 13px;
        }

        nav ul li a {
            text-decoration: none;
            color: #0077cc;
            font-weight: bold;
        }

        section {
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
        }

        section:last-of-type {
            border-bottom: none;
        }

        h3 {
            color: #444;
            font-size: 20px;
        }

        ul {
            padding-left: 20px;
        }

        footer {
            text-align: center;
            margin-top: 20px;
            padding-top: 10px;
            font-size: 14px;
            color: #777;
            border-top: 2px solid #ddd;
        }
        
        #papers {
        font-size: 13px; 
        }
        
        #contact {
        font-size: 15px; 
        text-align: center;
        }
        
        #research {
        font-size: 16px; 
        text-align: justify;
        }
        
        #bio {
        font-size: 16px; 
        text-align: justify;
        }
